/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ROOT */
html,
body {
  width: 100%;
  height: 100%;
  background-color: #121212;
  color: #f5f5f5;
}

/* NAVBAR */
.navbar {
  height: 70px;
  padding: 0 50px;
  background-color: #151515;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2a2a2abf;
}

/* LOGO */
.logo h1 {
 font-size: 29px;
 font-weight: 200;
}
.logo h1 span{
  color: #ffbb00;
}

/* NAV LINKS */
.content ul {
  display: flex;
  gap: 26px;
  list-style: none;
}

.content ul li {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #e6e6e6;
}

.content ul li:hover {
 color: #ffbb00;
}

/* BODY */
.body {
  padding: 30px 50px;
}

/* SEARCH */
.search-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.search-box input {
  width: 260px;
  padding: 12px 15px;
  background-color: #1e1e1e;
  border: 1px solid #2d2d2d;
  border-radius: 6px;
  color: #ffffffa9;
}

.filter{
  padding: 12px 15px;
  background-color: #1e1e1e;
  border: 1px solid #2d2d2d;
  border-radius: 6px;
  color: #ffffffa9;
  cursor: pointer;
}

.filter:active{
  scale: 0.95;
}

.search-box input::placeholder {
  color: #9a9a9a;
}

.search-box span {
  font-size: 14px;
  cursor: pointer;
  color: #c8a165;
}

/* CARDS CONTAINER (future ready) */
.cards-container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}


/* CARD */
.cards {
  width: 260px;
  background-color: #1c1c1c;
  border-radius: 16px;
  overflow: hidden;
  margin-top: 40px;
  padding:20px;
  padding-left: 20px;
  cursor: pointer;
}

.cards:hover{
  scale: 1.02;

}

/* CARD IMAGE */
.cards img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 15px;
}

/* CARD TEXT */
.card-text {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
 
}

.card-text h3 {
  font-size: 21px;
  font-weight: 600;
  color: #ffffff;
}

.card-text h5 {
  font-size: 13px;
  font-weight: 500;
  color: #cfcfcf;
}

.card-text p {
  font-size: 12px;
  color: #a8a8a8;
}
